   #page {
    margin-left: 20px;
    margin-top:20px;
           }

    html {
      background-color: #E0FFFF;

    }

  

  #mainleft {
    float: top;
    float: left;
    width: 38%;
    height: 400px;
    margin-top: 2px;
    background-color: #7FFFD4;
  }

#mainmid {
  float: top;
    float: left;
    width: 28%;
    height: 400px;
    margin-left: 12px;
    margin-top: 2px;
    background-color: #7FFFD4;
    overflow: scroll;
  }

  #mainright {
    float: top;
    float: left;
    width: 30%;
    height: 400px;
    margin-left: 12px;
    margin-top: 2px;
    background-color: #7FFFD4;
  }

  #bottom {
    background-color: #FF1493;
    float: left;
    margin-top: 10px;
  }
  
   h1 {
      font-family: arial;
      font-size: 32px;
      margin: auto;
   }

   .thumb {
    max-width: 100%;
    min-width: 20%;
    display: inline; 
}

   

   a:link {
      font-family: arial;
      font-size: 12px;
      color: black;
      text-decoration: none;

   }

    a:visited {
      font-family: arial;
      font-size: 12px;
      color: black;
      text-decoration: none;

   }

   a:hover {
        font-family: arial;
      font-size: 12px;
      color: blue;
      text-decoration: none;
   }

  #element {

    border-left: 1px solid black;
    
  }

  #stripe {

    border-bottom: 1px solid black;
  }

  #lefttitle {
    margin-left: 250px;
  }

